################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PoliNote/FileContentIndex/744eaa67-a62d-454b-b023-31cd9fd10309.vsidx
